.CodeMirror-linebackground-highlight {
	&.CodeMirror-activeline-background:after {
		background: rgba( 0, 0, 0, 0.05 );
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
